
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ /mvc/index.php?url=$1 [L,QSA]

RewriteCond %{REQUEST_URI} !(\.jpg|\.jpeg)$ [NC]
#RewriteRule ^([^/]+)/? /index.php?url=$1 [L,QSA]
