<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>[JuneBank]</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./index.css">

</head>
<body>
<header class="bg-image">
  <div class="container">
    <h1>Your Full Name</h1>
    <h2>[insert acc reference]</h2>
    <center>
    	<table>
    	<tr>
    		<td><a href="login.html" class="btn btn-transparent">Personal Banking</a></td>
    		<td><a href="login.html" class="btn btn-transparent">Business Banking</a></td>
    		<td><a href="login.html" class="btn btn-transparent">Financial Banking</a></td>
    	</tr>
    </table>
    </center>
  </div>
</header>

<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="img/home-1.png"/>
    </div>
    <div class="col-7 details">
      <h3>PERSONAL BANKING</h3>
      <p align="justify">
      Personal Banking refers to a wealth of services available to individuals from financial institutions. Many of these services may be quite familiar, like savings and checking accounts, a variety of lending options (personal loans, mortgages, lines of credit, etc.), and credit card services.
      </p>
    </div>
  </div>
</section>


<section class="">
  <div class="container">
    <div class="col-7 details">
      <h3>BUSINESS BANKING</h3>
      <p align="justify">
      Business banking is a company's financial dealings with an institution that provides business loans, credit, and savings and checking accounts specifically designed for companies instead of individuals.
      </p>
    </div>
    <div class="col-3 text--center">
      <img src="img/home-2.JPEG" alt="" class="details-img--ball"/>
    </div>
  </div>
</section>


<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="img/home-3.png" alt="" class="details-img--ball"/>
    </div>
    <div class="col-7 details">
      <h3>FINANCIAL BANKING</h3>
      <p align="justify">
      Finance is a field that is concerned with the allocation (investment) of assets and liabilities over space and time, often under conditions of risk or uncertainty. Finance can also be defined as the art of money management. Participants in the market aim to price assets based on their risk level, fundamental value, and their expected rate of return. Finance can be split into three sub-categories: public finance, corporate finance and personal finance.
      </p>
    </div>
  </div>
</section>
</body>
