<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>[JuneBank]</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./index.css">

</head>
<body style="background-color:#312c6e">
<header class="bg-image">
  <div class="container">
    <h1>Fund Transfert</h1>
    <h2>[insert acc reference]</h2>
  </div>
</header><center>
<div class="left-half"><a href="PT_OFT.html"><h1><br>Overseas Fund Transfer</h1></a></div>
<div class="right-half"><h1><br>Local Fund Transfer</h1></div>

 </center>           
</body>